:root {
  --main-color: #651fff;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 500px;
  margin: 20px auto;
}
.form {
  background-color: #eee;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  align-items: center;
}
.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  flex: 1;
  font-size: 20px;
}
.input:focus {
  outline: none;
}
.add {
  border: none;
  background-color: var(--main-color);
  color: white;
  padding: 10px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s;
}

.displaying-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #eee;
  margin-top: 20px;
  border-radius: 6px;
  padding: 20px;
}

.displaying-buttons button {
  margin-right: 10px;
  padding: 4px 10px;
  font-size: 16px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  letter-spacing: 2px;
}

.btn-hover:hover {
  background-color: #7c4dff;
  box-shadow: 0 0 3px #000;
  letter-spacing: 4px;
}

.tasks {
  background-color: #eee;
  margin-top: 20px;
  border-radius: 6px;
  padding: 20px;
}
.tasks .task {
  background-color: white;
  padding: 10px 20px 10px 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
  font-weight: bold;
  transition: all 0.3s;
}
.tasks .task:not(:last-child) {
  margin-bottom: 15px;
}
.tasks .task:hover {
  background-color: #f7f7f7;
}

.tasks .task.done {
  opacity: 0.8;
  text-decoration: line-through;
  border: none;
  font-weight: normal;
}

.tasks .task span {
  font-weight: bold;
  font-size: 15px;
  background-color: var(--main-color);
  color: white;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  letter-spacing: 2px;
}

.tasks .task span:hover {
  letter-spacing: 6px;
}
